<!-- specific_weather_data.html -->

{% extends 'base.html' %}
{% block content %}
    <h2>Specific Weather Data</h2>
    

    <form method="post" action="{% url 'specific_weather_data' %}">
        {% csrf_token %}
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>
    
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>

        <button type="submit">Show Specific Data</button>
    </form>
    

    {% if weather_data %}
    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Timestamp</th>
                <th>Temperature (°C)</th>
            </tr>
        </thead>
        <tbody>
            {% for data_point in weather_data %}
                <tr>
                    <td>{{ data_point.city }}</td>
                    <td>{{ data_point.timestamp }}</td>
                    <td>{{ data_point.temperature }}°C</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data available for the specified filters.</p>
{% endif %}
{% endblock %}
